# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Flask debug files
instance/
*.log

# Compiled files
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
dist/
build/
*.spec
